<%= form_for(@question) do |form| %>
  <%= render 'common/form_errors', object: @question %>

  <p>
    <%= form.label :body, "question" %>
    <%= form.text_field :body %>
    <%= form.submit "submit" %>
  </p>
<% end %>