<% provide(:title, "login") %>

<h1>login</h1>

<%= form_for(:session, url: sessions_path) do |form| %>
    <p>
        <%= form.label :username %><br />
        <%= form.text_field :username %>
    </p>

    <p>
        <%= form.label :password %><br />
        <%= form.password_field :password %>
    </p>

    <p>
        <%= form.submit "log in" %>
    </p>
<% end %>